.container {
  background-color: #f2f2f2;
  img {
    border-radius: 50%;
    width: 13%;
  }
  border-radius: 20px;
  padding: 40px;
  p {
    font-family: 'Inter';
  }
  height: 70%;
}

.mainText {
  margin-top: 15%;
  font-size: 20px;
  font-weight: bold;
}

.usernameFont {
  margin-top: 20%;
  font-weight: 500;
  font-size: 14px;
}
