.descrLeft {
  font-family: 'Climate Crisis', cursive;
  font-size: 48px;
  margin: 0;
}

.descrRight {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  color: #403d39;
  margin: 0 0 0 3%;
  width: 40%;
}

.desciption {
  display: flex;
  align-items: center;
  margin: 45% 10% 0 10%;
  height: 100%;
}

@media screen and (max-width: 1199px) {
  .desciption {
    flex-direction: column;
    align-items: flex-start;
  }
  .descrRight {
    margin: 0;
    width: 100%;
    margin-top: 3%;
  }
}

@media screen and (max-width: 1700px) {
  .desciption {
    margin-top: 50%;
  }
}

@media screen and (max-width: 1570px) {
  .desciption {
    margin-top: 60%;
  }
}

@media screen and (max-width: 1320px) {
  .desciption {
    margin-top: 65%;
  }
}

@media screen and (max-width: 1230px) {
  .desciption {
    margin-top: 70%;
  }
}

@media screen and (max-width: 1120px) {
  .desciption {
    margin-top: 80%;
  }
}

@media screen and (max-width: 1010px) {
  .desciption {
    margin-top: 90%;
  }
}

@media screen and (max-width: 900px) {
  .desciption {
    margin-top: 100%;
  }
}

@media screen and (max-width: 800px) {
  .desciption {
    margin-top: 120%;
  }
}

@media screen and (max-width: 700px) {
  .desciption {
    margin-top: 130%;
  }
}
