.descrLeft {
  font-family: 'Climate Crisis', cursive;
  font-size: 48px;
  margin: 0;
}

.descrRight {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  color: #403d39;
  margin: 0;
}

.desciption {
  display: flex;
  align-items: center;
  margin: 42% 10% 0 10%;
  height: 100%;
}
