.container {
  display: flex;
  flex-direction: column;
  p {
    font-family: 'Inter';
  }
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 10px;
  font-size: 18px;
}

.mainText {
  font-weight: bold;
}
