.question {
  font-family: 'Inter';
  font-size: 20px;
  font-weight: bold;
  color: #403d39;
}

.answer {
  font-family: 'Inter';
  font-weight: 500;
  color: #252422;
  font-size: 16px;
}
